@importurl('https//fonts.googleapis.com/css2?family=Poppins:wght@900;900;500;600;700 &diplay=swap');')

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{

    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html{
font-size: 62.5%;
overflow-x: hidden;
}

body{
background: var(--bg-color);
color:var(--text-color);

}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}


.header{
position: fixed;
top: 0;
left: 0;
width: 100;
padding: 2rem 10%;
background-color: var(--bg-color);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}border-bottom:.1rem solid rgba(0,0,0,.1);

.header.sticky{

}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left:4rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar a:hover,a:active{
    color:var(--main-color);
}

#menu-icon{
font-size:3.6rem;
color: var(--text-color);
display:none;

}
.home-img{
    width:35vm;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color:var(--main-color);
}
.home-content h3{
    font-size: 3.2rem;
    font-weight:700;
}
.home-content p{
    font-size: 2rem;
    font-weight:70;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight:700;
    line-height:1.3;

}
.social-media a {
       display: inline-flex;
       justify-content: center;
       align-items: center;
       width: 4rem;
       height: 4rem;
       background: transparent;
       border: 2rem  solid var(--main-color);
       border-radius:50%;
       font-size: 2rem;
       color:var(--main-color);
       margin:3rem 1.5rem,3rem;
       -webkit-border-radius:50%;
       -moz-border-radius:50%;
       -ms-border-radius:50%;
       -o-border-radius:50%;
}
home content h3 :nth-of-type(){
    margin-bottom: 2rem;
}
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--second-bg-color);
}
.about-img img{width:35vw}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
    .about-content h2{
        text-align: left;
        line-height: 1.2;

    }
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{ font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.detail h2{
    margin-bottom: 5rem;

}

.detail-container{
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 2rem;

}
.detail-container.detail-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2rem solid var(--bg-color);
    transition: .5s ease ;
    -webkit-transition: .5s ease ;
    -moz-transition: .5s ease ;
    -ms-transition: .5s ease ;
    -o-transition: .5s ease ;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.detail-container .detail-box :hover{
 border-color: var(--main-color);
 transform:scale(1.02);
 -webkit-transform:scale(1.02);
 -moz-transform:scale(1.02);
 -ms-transform:scale(1.02);
 -o-transform:scale(1.02);
}
 .detail-box h3:hover {
    font-size: 2.6rem;
 }

.detail-box p{
    font-size: 1.6rem;
    margin:1rem 0 3rem;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,.contact form  textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0 ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize :none;
}
.contact form .btn{
    margin-top: 2rem;

}
.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem 9% ;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;

}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
     font-size: 2.4rem;
     color: var(--second-bg-color);
}
/*breakpoints*/
@media(max-width:1200px){
html{ font_size:55%
}
}
@media(max-width:991px){
    .header{padding: 2rem 3%;}
}
@media(max-width:768px)
{
    #menu-icon{display: block;}
}
